# Node.js

# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '12.x'
  displayName: 'Install Node.js'

- script: |
    npm install
    npm i mocha-junit-reporter
    npm i mochawesome
    npm i mocha -D
    npm i mocha-multi
    npm run codeceptjs:mocha-multi
  continueOnError: true
  displayName: 'Running tests'

- task: PublishTestResults@2
  inputs:
    testResultsFiles: 'output/*.xml'
    testResultsFormat: 'JUnit'
  continueOnError: true
